# Environment variables
.env

# Dependencies
node_modules/
back-end/services/api/node_modules/
front-end/node_modules/

# Build outputs
dist/
back-end/services/api/dist/
front-end/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Databases
*.db
back-end/data/

# OS files
.DS_Store
Thumbs.db
